/* Navigation bar  */
nav {
  background-color: #273840;
  border-bottom: rgb(210, 175, 219) solid 3px;
}
.nav-heading {
  margin: left;
  color: rgb(210, 175, 219);
  font-size: 27px;
  padding-top: 5px;
}
.nav-link {
  color: rgb(210, 175, 219);
  margin: 0 20px 0 20px;
  font-size: 20px;
}
.nav-item {
  border-left: thistle solid 1px;
  text-align: center;
}

.nav-link:hover {
  color: white;
}
